.kne-hint {
  position: absolute;
  left: 0;
  top: 0;
  height: 14px;

  padding: 0 2px;

  background-color: #63ace5;
  color: #fff;
  font-size: 10px;
}

.kne-highlighted {
  background-color: #fdfe02;
  color: #111;
  position: relative;
}

.kne-highlighted-active {
  background-color: #adcbe3;
  color: #fff;
}